.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BodyDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Add-List {
  min-width: 50vw;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Clear {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  border: none;
  border-radius: 2px;
  color: white;
  padding-top: 2px;
}

.Input {
  padding-left: 4px;
  border-color: black;
  border-radius: 4px;
  border-width: 1px;
  margin-bottom: 2px;
}

input:focus {
  outline: none;
}

.Button {
  min-width: 40px;
  max-width: 40px;
  background-color: #4f7ec9;
  border: none;
  border-radius: 4px;
  color: white;
  padding-top: 2px;
  font-weight: bold;
}

Button:hover {
  transition: all;
  transition-duration: 150ms;
  background-color: #456dad;
}

.ResultDiv {
  min-width: 50vw;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Result {
  color: white;
  display: flex;
  flex-direction: row;
}

.ResultHeader {
  min-width: 25vw;
  text-align: left;
  text-decoration: underline;
}

.ResultList {
  color: white;
  display: flex;
  font-size: calc(5px + 2vmin);
}

.ResultBox {
  min-width: 25vw;
  text-align: left;
}
